{% extends 'admin_base.html' %}

{% block title %}Player: {{ player }}{% endblock %}

{% block extra_head %}
    <style>
    table.game_screen {
        width: 850px;
        border-spacing: 0;
    }
    table.game_screen td {
        font-family: Verdana;
        font-size: 8pt;
    }
    tr.top_bar {
        background: #5C8699;
    }
    .control_panel {
        width: 280px;
        margin: 0;
        padding: 5px 40px 5px 5px;
    }
    .user_info {
        width: 200px;
        margin: 0;
        padding: 5px;
    }
    .user_statistics {
        width: 320px;
        margin: 0;
        padding: 5px 5px 5px 40px;
    }
    .control_panel p {
        margin: 0;
        color: #FFF;
    }
    .control_panel a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
    }
    .control_panel h1 {
        margin: 5px 2px;
        padding: 2px 5px;
        font-size: 14pt;
        color: #EEE0E7;
        background-color: #A54958;
    }
    .user_info {
        color: #FFF;
    }
    .player_name {
        font-size: 10pt;
        font-weight: bold;
        margin-right: 1em;
        color: #96E3FE;
    }
    .player_balance {
        font-size: 10pt;
        font-weight: bold;
        color: #FFF595;
    }
    .user_statistics table {
    }
    .user_statistics td {
        color: #FFF;
    }
    .user_statistics .stat {
        text-align: right;
    }
    div#energy {
        background: #F9C;
        width: 140px;
        height: 8px;
    }
    div#mood {
        background: #9FC;
        width: 140px;
        height: 8px;
    }
    div#karma {
        background: #9CF;
        width: 140px;
        height: 8px;
    }
    .location {
        width: 480px;
        margin: 0;
        padding: 0;
    }
    .location h2 {
        margin: 10px 10px 0 10px;
    }
    .location p {
        margin: 5px 10px 20px;
        width: 460px;
    }
    .lot_images {
        width: 480px;
    }
    #lot_description {
        height: 30px;
        padding: 10px;
    }
    a.exit_button {
        font-family: "Arial Narrow";
        text-transform: uppercase;
        padding: 2px;
        font-size: 16pt;
        color: #FFF;
        text-decoration: none;
        background: #D00;
    }
    a.quantity_link {
        font-weight: bold;
        text-decoration: none;
    }
    form.hidden {
        margin: 0;
    }
    div#whatshere {
        width: 180px;
        height: 133px;
        overflow: auto;
        background: #FFF;
        border: 1px solid #666;
        padding: 3px;
    }
    div#whoshere {
        width: 120px;
        height: 133px;
        overflow: auto;
        background: #FFF;
        border: 1px solid #666;
        padding: 3px;
    }
    .cap, .inmc {
        background: #FFF;
        border: 1px solid #666;
        padding: 3px;
    }
    .cap {
        height: 213px;
        width: 300px;
        overflow: auto;
    }
    .inmc {
        height: 250px;
        width: 300px;
        overflow: auto;
    }
    #cap_tabs, #inmc_tabs {
        padding: 3px 0;
    }
    #cap_tabs a, #inmc_tabs a {
        background: #CEF;
        color: #036;
        padding: 3px 6px;
        text-decoration: none;
        font-weight: bold;
        border-top: 1px solid #666;
        border-left: 1px solid #666;
        border-right: 1px solid #666;
    }
    #cap_tabs a.selected, #inmc_tabs a.selected {
        background: #FFF;
        color: #936;
        padding-top: 4px;
        position: relative;
        bottom: -1px;
    }
    div.message_area {
        height: 180px;
        overflow: auto;
    }
    div.message_area ul {
        list-style: none;
        padding-left: 0;
        margin: 5px;
    }
    #chatform {
        margin: 0;
    }
    #message {
        margin: 2px;
        width: 296px;
        background: #EEE;
    }
    .message_player {
        color: #F66;
    }
    #whatshere h2, #whoshere h2 {
        margin: 0;
        padding: 0;
        font-size: 8pt;
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block admin_page_content %}
    
    <p>The intention of this page is it gives you the entire game from {{ player.name }}'s perspective. When {{ player.name }} is logged in, he or she will see something similar to this.</p>
    
    <p><a href="../">players</a></p>
    
    <h1>{{ player.name }}</h1>
    
    <table class="game_screen">
        
        <tr class="top_bar">
            <td class="control_panel">
                <p><a href="">Refresh</a> |
                Report a bug |
                Save &amp; Exit</p>
                <h1>DJANGO-MMO</h1>
            </td>
            <td class="user_info">
                <span class="player_name">{{ player.name }}</span> $ <span class="player_balance">{{ player.balance }}</span><br />
                Level <b>{{ player.level }}</b> - xp: <b>{{ player.xp }}</b><br />
                (next level at {{ player.next_level_at }})
            </td>
            <td class="user_statistics">
                <table>
                    <tr><td class="stat"><b>energy</b></td><td width="150"><div id="energy">&nbsp;</div></td><td>{{ player.energy }}/5000</td></tr>
                    <tr><td class="stat"><b>mood</b></td><td><div id="mood">&nbsp;</div></td><td>{{ player.mood }}/200</td></tr>
                    <tr><td class="stat"><b>karma</b></td><td><div id="karma">&nbsp;</div></td><td>{{ player.karma }}/200</td></tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" valign="top" class="location">
                {% if player.location.lot %}
                    <table width="100%" style="border-spacing: 0;">
                        <tr style="background: #EBEBE2;">
                            <td><img style="float: left;" src="/static/lot_{{ player.location.lot.image_code }}.png" width="60" height="108"/></td>
                            <td align="center">
                                You are in:
                                <h2>{{ player.location.lot.name }}</h2>
                            </td>
                            <td align="center">
                                <form id="exit_lot" method="POST" action=""><input type="hidden" name="exit_to" value="{{ player.location.lot.hub.id}}" /></form>
                                <a class="exit_button" href="#" onclick="$('#exit_lot').submit()">exit</a><br />
                                back to<br /><b>{{ player.location.lot.hub }}</b>
                                </form>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <h2>{{ player.location.hub.name }}</h2>
                    <p>{{ player.location.hub.description }}</p>
                    
                    <div class="lot_images">{% for lot in player.location.hub.lots %}{% if lot %}<img src="/static/lot_{{ lot.image_code }}.png" width="60" height="108" class="lot_image" id="lot_image_{{ lot.position }}"/>{% else %}<img src="/static/lot_0.png" width="60" height="108" class="lot_image"/>{% endif %}{% endfor %}</div>
                    
                    <div id="lot_description"></div>
                    
                    <form style="display: none;" method="POST" action="" id="enter_lot"><input id="enter_lot_id" type="hidden" name="enter" value="" /></form>
                    
                    <h3>Roads</h3>
                    
                    <p>In the absence of the map, clicking on an adjacent hub below is how you travel around at the moment.</p>
                    
                    {% if player.location.hub.roads %}
                        <ul>
                            {% for road in player.location.hub.roads %}
                                <form id="travel_{{ road.destination.id }}" style="display: none;" method="POST" action=""><input type="hidden" name="travel_to" value="{{ road.destination.id}}" /></form>
                                <li>{{ road.direction }} to <a href="#" onclick="$('#travel_{{ road.destination.id }}').submit()"><b>{{ road.destination }}</b></a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No roads out of here.</p>
                    {% endif %}
                    
                {% endif %}
            </td>
            <td valign="top" style="background: #a7b7c7;">
                <table>
                    <tr>
                        <td>
                            <div id="whatshere">
                                <h2>What's Here:</h2>
                                
                                {% if player.location.lot %}
                                    {% if player.location.lot.what_is_here %}
                                        <ul>
                                            {% for pile in player.location.lot.what_is_here %}
                                                <li>{{ pile.item_type }} [<b>{{ pile.total_quantity }}</b>]<br />
                                                    <form class="hidden" id="pickup_{{ pile.id }}" method="POST" action=""><input type="hidden" name="pickup_pile" value="{{ pile.id }}" /><input id="pickup_quantity_{{ pile.id }}" type="hidden" name="quantity" value="0" /></form>
                                                        pick up 
                                                        {% for q in pile.pickup_list %}[<a class="quantity_link" href="#" onclick="$('#pickup_quantity_{{ pile.id }}').val('{{ q }}'); $('#pickup_{{ pile.id }}').submit()">{{ q }}</a>]
                                                        {% endfor %}
                                                    </form>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Nothing here.</p>
                                    {% endif %}
                                
                                {% else %}
                                
                                    {% if player.location.hub.what_is_here %}
                                        <ul>
                                            {% for pile in player.location.hub.what_is_here %}
                                                <li>{{ pile.item_type }} [<b>{{ pile.total_quantity }}</b>]<br />
                                                    <form class="hidden" id="pickup_{{ pile.id }}" method="POST" action=""><input type="hidden" name="pickup_pile" value="{{ pile.id }}" /><input id="pickup_quantity_{{ pile.id }}" type="hidden" name="quantity" value="0" /></form>
                                                        pick up 
                                                        {% for q in pile.pickup_list %}[<a class="quantity_link" href="#" onclick="$('#pickup_quantity_{{ pile.id }}').val('{{ q }}'); $('#pickup_{{ pile.id }}').submit()">{{ q }}</a>]
                                                        {% endfor %}
                                                    </form>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Nothing here.</p>
                                    {% endif %}
                                
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div id="whoshere">
                                <h2>Who's Here:</h2>
                                
                                {% if player.location.lot %}
                                    {% ifequal player.location.lot.who_is_here.0 1 %}
                                        <p>Just you.</p>
                                    {% else %}
                                        <ul>
                                            {% for other_player in player.location.lot.who_is_here.1 %}
                                                {% ifequal player other_player %}
                                                {% else %}
                                                    <li>{{ other_player}}</li>
                                                {% endifequal %}
                                            {% endfor %}
                                        </ul>
                                    {% endifequal %}
                                
                                {% else %}
                                
                                    {% ifequal player.location.hub.who_is_here.0 1 %}
                                        <p>Just you.</p>
                                    {% else %}
                                        <ul>
                                            {% for other_player in player.location.hub.who_is_here.1 %}
                                                {% ifequal player other_player %}
                                                {% else %}
                                                    <li>{{ other_player}}</li>
                                                {% endifequal %}
                                            {% endfor %}
                                        </ul>
                                    {% endifequal %}
                                
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background: #a7b7c7;">
                            <div id="cap_tabs">
                                <a id="chat_tab" href="#" onclick="$('.cap').hide(); $('#chat').show(); $('#cap_tabs a').removeClass('selected'); $('#chat_tab').addClass('selected'); return false;">Chat</a>
                                <a id="activity_log_tab" href="#" onclick="$('.cap').hide(); $('#activity_log').show(); $('#cap_tabs a').removeClass('selected'); $('#activity_log_tab').addClass('selected'); return false;">Activity Log</a>
                                <a id="prefs_tab" href="#" onclick="$('.cap').hide(); $('#prefs').show(); $('#cap_tabs a').removeClass('selected'); $('#prefs_tab').addClass('selected'); return false;">Prefs</a>
                            </div>
                            
                            <div id="chat" class="cap">
                                <form id="chatform">
                                    <input type="text" name="message" value="" id="message">
                                    <input type="hidden" name="player_id" value="{{ player.id }}">
                                </form>
                                <div class="message_area"></div>
                            </div>
                            <div id="activity_log" class="cap">
                                @@@ activity log not yet implemented
                            </div>
                            <div id="prefs" class="cap">
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2">
                            <div id="inmc_tabs">
                                <a id="inventory_tab" href="#" onclick="$('.inmc').hide(); $('#inventory').show(); $('#inmc_tabs a').removeClass('selected'); $('#inventory_tab').addClass('selected'); return false;">Inventory</a>
                                <a id="notes_tab" href="#" onclick="$('.inmc').hide(); $('#notes').show(); $('#inmc_tabs a').removeClass('selected'); $('#notes_tab').addClass('selected'); return false;">Notes</a>
                                <a id="making_tab" href="#" onclick="$('.inmc').hide(); $('#making').show(); $('#inmc_tabs a').removeClass('selected'); $('#making_tab').addClass('selected'); return false;">Making</a>
                                <a id="contacts_tab" href="#" onclick="$('.inmc').hide(); $('#contacts').show(); $('#inmc_tabs a').removeClass('selected'); $('#contacts_tab').addClass('selected'); return false;">Contacts</a>
                            </div>
                            
                            <div id="inventory" class="inmc">
                                {% if player.inventory %}
                                    <ul>
                                        {% for pile in player.inventory %}
                                            <li>{{ pile.item_type }} [<b>{{ pile.quantity }}</b>]<br />
                                                <form class="hidden" id="drop_{{ pile.id }}" method="POST" action=""><input type="hidden" name="drop_pile" value="{{ pile.id }}" /><input id="drop_quantity_{{ pile.id }}" type="hidden" name="quantity" value="0" /></form>
                                                    drop
                                                    {% for q in pile.drop_list %}[<a class="quantity_link" href="#" onclick="$('#drop_quantity_{{ pile.id }}').val('{{ q }}'); $('#drop_{{ pile.id }}').submit()">{{ q }}</a>]
                                                    {% endfor %}
                                                </form>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Nothing.</p>
                                {% endif %}
                            </div>
                            
                            <div id="notes" class="inmc">
                                @@@ notes not yet implemented
                            </div>
                            
                            <div id="making" class="inmc">
                                {% if player.make_list %}
                                    <ul>
                                        {% for target in player.make_list %}
                                            <form style="display: none;" id="make_{{ target.id }}" method="POST" action=""><input type="hidden" name="make_target" value="{{ target.id }}" /></form>
                                            <li><b>{% ifequal target.quantity 1 %}{{ target.item_type }}{% else %}({{ target.quantity }}) {{ target.item_type }}{% endifequal %}</b> [<a href="#" onclick="$('#make_{{ target.id }}').submit()"><b>make</b></a>]<br />
                                                requires:
                                                {% for ingredient in target.makeingredient_set.all %}
                                                    <br />{% ifequal ingredient.quantity 1 %}{{ ingredient.item_type }}{% else %}{{ ingredient.item_type }} ({{ ingredient.quantity }}){% endifequal %}
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Nothing at the moment.</p>
                                {% endif %}
                            </div>
                            
                            <div id="contacts" class="inmc">
                                @@@ contacts not yet implemented
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          /* switch to correct tabs */
          $('.cap').hide(); $('#chat').show(); $('#chat_tab').addClass('selected');
          $('.inmc').hide(); $('#inventory').show(); $('#inventory_tab').addClass('selected');
          
          /* set up lot hovers and clicks */
          {% if player.location.lot %}
          {% else %}
            {% for lot in player.location.hub.lots %}
                {% if lot %}
                    $('#lot_image_{{ lot.position }}').hover(function (){
                        $('#lot_description').html("<b>{{ lot.name }}</b><br />{{ lot.description }}");
                    }, function() {
                        $('#lot_description').html("");
                    });
                    {% ifequal lot.kind "A" %}
                        $('#lot_image_{{ lot.position }}').click(function (){
                            $('#enter_lot_id').val("{{ lot.id }}");
                            $('#enter_lot').submit();
                        });
                    {% endifequal %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        /* Update chat when the form is used */
        $('form#chatform').submit(function(){
          element = $('input[@name=message]').get(0);
          mymessage = element.value;
          pid = {{ player.id }};
          $.post('/chat/update_chat/', {
              message: mymessage, player_id: pid
          });
          element.value = '';
          return false;
        });
        
      });
      
      // Chat must also be updated when nothing is happening:
      // We have to provide a random number or else IE will not refresh properly:
      function updateChat() {
          num = Math.random();
          $('div.message_area').load('/chat/update_chat/?' + num);
          setTimeout('updateChat()', 1000);
      }

	function updateWhatsHere() {
		num = Math.random();
		$('div#whatshere').load('/items/whatshere/{{ player.id }}/?' + num);
		setTimeout('updateWhatsHere()', 1000);
	}
	
	function updateWhosHere() {
		num = Math.random();
		$('div#whoshere').load('/player/who_is_here/{{ player.id }}/?' + num)
		setTimeout('updateWhosHere()', 1000);
	}
      
      updateChat();
	updateWhatsHere();
	updateWhosHere();
    </script>
	
{% endblock %}