{% extends 'admin_base.html' %}

{% block title %}Player: {{ player }}{% endblock %}

{% block extra_head %}
    <style>
    table.game_screen {
        width: 850px;
        border-spacing: 0;
    }
    table.game_screen td {
        font-family: Verdana;
        font-size: 8pt;
    }
    tr.top_bar {
        background: #5C8699;
    }
    .control_panel {
        width: 280px;
        margin: 0;
        padding: 5px 40px 5px 5px;
    }
    .user_info {
        width: 200px;
        margin: 0;
        padding: 5px;
    }
    .user_statistics {
        width: 320px;
        margin: 0;
        padding: 5px 5px 5px 40px;
    }
    .control_panel p {
        margin: 0;
        color: #FFF;
    }
    .control_panel a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
    }
    .control_panel h1 {
        margin: 5px 2px;
        padding: 2px 5px;
        font-size: 14pt;
        color: #EEE0E7;
        background-color: #A54958;
    }
    .user_info {
        color: #FFF;
    }
    .player_name {
        font-size: 10pt;
        font-weight: bold;
        margin-right: 1em;
        color: #96E3FE;
    }
    .player_balance {
        font-size: 10pt;
        font-weight: bold;
        color: #FFF595;
    }
    .user_statistics table {
    }
    .user_statistics td {
        color: #FFF;
    }
    .user_statistics .stat {
        text-align: right;
    }
    div#energy {
        background: #F9C;
        width: 140px;
        height: 8px;
    }
    div#mood {
        background: #9FC;
        width: 140px;
        height: 8px;
    }
    div#karma {
        background: #9CF;
        width: 140px;
        height: 8px;
    }
    .location {
        width: 480px;
        margin: 0;
        padding: 0;
    }
    .location h2 {
        margin: 10px 10px 0 10px;
    }
    .location p {
        margin: 5px 10px 20px;
        width: 460px;
    }
    .lot_images {
        width: 480px;
    }
    </style>
{% endblock %}

{% block admin_page_content %}
    
    <p>The intention of this page is it gives you the entire game from {{ player.name }}'s perspective. When {{ player.name }} is logged in, he or she will see something similar to this.</p>
    
    <p><a href="../">players</a></p>
    
    <h1>{{ player.name }}</h1>
    
    <table class="game_screen">
        
        <tr class="top_bar">
            <td class="control_panel">
                <p><a href="">Refresh</a> |
                Report a bug |
                Save &amp; Exit</p>
                <h1>DJANGO-MMO</h1>
            </td>
            <td class="user_info">
                <span class="player_name">{{ player.name }}</span> $ <span class="player_balance">{{ player.balance }}</span><br />
                Level <b>{{ player.level }}</b> - xp: <b>{{ player.xp }}</b><br />
                (next level at {{ player.next_level_at }})
            </td>
            <td class="user_statistics">
                <table>
                    <tr><td class="stat"><b>energy</b></td><td width="150"><div id="energy">&nbsp;</div></td><td>{{ player.energy }}/5000</td></tr>
                    <tr><td class="stat"><b>mood</b></td><td><div id="mood">&nbsp;</div></td><td>{{ player.mood }}/200</td></tr>
                    <tr><td class="stat"><b>karma</b></td><td><div id="karma">&nbsp;</div></td><td>{{ player.karma }}/200</td></tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" valign="top" class="location">
                {% if player.location.lot %}
                    <h2>{{ player.location.lot.name }}</h2>
                    <p>{{ player.location.lot.description }}</p>
                    
                    <form method="POST" action="">
                        <p>back to <b>{{ player.location.lot.hub }}</b>
                                <input type="hidden" name="exit_to" value="{{ player.location.lot.hub.id}}" />
                                <input type="submit" value="go" />
                        </p>
                    </form>
                {% else %}
                    <h2>{{ player.location.hub.name }}</h2>
                    <p>{{ player.location.hub.description }}</p>
                    
                    <div class="lot_images"><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/><img src="/static/lot_0.png" width="60" height="108" class="lot_image"/></div>
                    
                    <h3>Lots</h3>
                    
                    {% if player.location.hub.lots %}
                        <ul>
                            {% for lot in player.location.hub.lots %}
                                <li>{{ lot.position }}. 
                                    {% ifequal lot.kind "A" %}
                                        <b>{{ lot.name }}</b>
                                        <form method="POST" action="">
                                            <input type="hidden" name="enter" value="{{ lot.id}}" />
                                            <input type="submit" value="go" />
                                        </form>
                                    {% else %}
                                        <b>{{ lot.name }}</b>
                                    {% endifequal %}
                                    {{ lot.description }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No lots here.</p>
                    {% endif %}
                    
                    <h3>Roads</h3>
                    
                    {% if player.location.hub.roads %}
                        <ul>
                            {% for road in player.location.hub.roads %}
                                <li>{{ road.direction }} to <b>{{ road.destination }}</b>
                                    <form method="POST" action="">
                                        <input type="hidden" name="travel_to" value="{{ road.destination.id}}" />
                                        <input type="submit" value="go" />
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No roads out of here.</p>
                    {% endif %}
                    
                {% endif %}
            </td>
            <td valign="top">
                <table>
                    <tr>
                        <td>
                            <h2>What's Here</h2>
                            
                            {% if player.location.lot %}
                                {% if player.location.lot.what_is_here %}
                                    <ul>
                                        {% for pile in player.location.lot.what_is_here %}
                                            <li>{{ pile.item_type }} [{{ pile.total_quantity }}]<br />
                                                <form method="POST" action="">
                                                    pick up <input type="hidden" name="pickup_pile" value="{{ pile.id }}" />
                                                    {% for q in pile.pickup_list %}
                                                        <input type="submit" name="quantity" value="{{ q }}" />
                                                    {% endfor %}
                                                </form>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Nothing here.</p>
                                {% endif %}
                                
                            {% else %}
                                
                                {% if player.location.hub.what_is_here %}
                                    <ul>
                                        {% for pile in player.location.hub.what_is_here %}
                                            <li>{{ pile.item_type }} [{{ pile.total_quantity }}]<br />
                                                <form method="POST" action="">
                                                    pick up <input type="hidden" name="pickup_pile" value="{{ pile.id }}" />
                                                    {% for q in pile.pickup_list %}
                                                        <input type="submit" name="quantity" value="{{ q }}" />
                                                    {% endfor %}
                                                </form>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>Nothing here.</p>
                                {% endif %}
                                
                            {% endif %}
                        </td>
                        <td>
                            <h2>Who's Here</h2>
                            
                            {% if player.location.lot %}
                                {% ifequal player.location.lot.who_is_here.0 1 %}
                                    <p>Just you.</p>
                                {% else %}
                                    <ul>
                                        {% for other_player in player.location.lot.who_is_here.1 %}
                                            {% ifequal player other_player %}
                                            {% else %}
                                                <li>{{ other_player}}</li>
                                            {% endifequal %}
                                        {% endfor %}
                                    </ul>
                                {% endifequal %}
                                
                            {% else %}
                                
                                {% ifequal player.location.hub.who_is_here.0 1 %}
                                    <p>Just you.</p>
                                {% else %}
                                    <ul>
                                        {% for other_player in player.location.hub.who_is_here.1 %}
                                            {% ifequal player other_player %}
                                            {% else %}
                                                <li>{{ other_player}}</li>
                                            {% endifequal %}
                                        {% endfor %}
                                    </ul>
                                {% endifequal %}
                                
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>Chat</h2>
                            
                            <p>@@@</p>
                            
                            <h2>Activity Log</h2>
                            
                            <p>@@@</p>
                            
                            <h2>Prefs</h2>
                            
                            <p>@@@</p>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <h2>Inventory</h2>
                            
                            {% if player.inventory %}
                                <ul>
                                    {% for pile in player.inventory %}
                                        <li>{{ pile.item_type }} [{{ pile.quantity }}]<br />
                                            <form method="POST" action="">
                                                drop <input type="hidden" name="drop_pile" value="{{ pile.id }}" />
                                                {% for q in pile.drop_list %}
                                                    <input type="submit" name="quantity" value="{{ q }}" />
                                                {% endfor %}
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Nothing.</p>
                            {% endif %}
                            
                            <h2>Notes</h2>
                            
                            <p>@@@</p>
                            
                            <h2>Making</h2>
                            
                            <p>@@@</p>
                            
                            <h2>Contacts</h2>
                            
                            <p>@@@</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
{% endblock %}