
<ul class='item_list'>
{% for pile in objects %}
    <li><img src="/static/images/items/item_small_{{ pile.item_type.icon_code }}.png">{{ pile.item_type }} [<b>{{ pile.total_quantity }}</b>]<br />
        <form class="hidden" id="pickup_{{ pile.id }}" method="POST" action=""><input type="hidden" name="pickup_pile" value="{{ pile.id }}" /><input id="pickup_quantity_{{ pile.id }}" type="hidden" name="quantity" value="0" /></form>
            pick up
            {% for q in pile.pickup_list %}[<a class="quantity_link" href="#" onclick="$('#pickup_quantity_{{ pile.id }}').val('{{ q }}'); $('#pickup_{{ pile.id }}').submit()">{{ q }}</a>]
            {% endfor %}
        </form>
    </li>
{% endfor %}
</ul>