{% extends 'admin_base.html' %}

{% block title %}Hub: {{ hub }}{% endblock %}


{% block admin_page_content %}
<p><a href="../">hubs</a></p>

<h1>{{ hub.name }}</h1>
<p>{{ hub.description }}</p>

<h2>Roads</h2>

{% if hub.roads %}
<ul>
    {% for road in hub.roads %}
    <li>{{ road.direction }} to <a href="../{{ road.destination.id }}/">{{ road.destination }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No roads out of here.</p>
{% endif %}

<h2>Lots</h2>

{% if hub.lots %}
<ul>
    {% for lot in hub.lots %}
    <li>{{ lot.position }}. 
        {% ifequal lot.kind "A" %}
        <a href="../../lot/{{ lot.id }}/"><b>{{ lot.name }}</b></a>
        {% else %}
        <b>{{ lot.name }}</b>
        {% endifequal %}
        {{ lot.description }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No lots here.</p>
{% endif %}

<h2>Who's Here</h2>

{% if hub.who_is_here %}
<ul>
    {% for player in hub.who_is_here %}
    <li>{{ player}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No one else.</p>
{% endif %}


{% endblock %}