{% extends 'admin_base.html' %}

{% block title %}Lot: {{ lot }}{% endblock %}


{% block admin_page_content %}

{% ifequal lot.kind "I" %}
<p>This lot would normally be inaccessible.</p>
{% endifequal %}

<h1>{{ lot.name }}</h1>
<p>{{ lot.description }}</p>

<p>back to <a href="../../hub/{{ lot.hub.id }}/">{{ lot.hub }}</a>.

<h2>Who's Here</h2>

{% if lot.who_is_here.0 %}
<ul>
    {% for player in lot.who_is_here.1 %}
    <li>{{ player}}</li>
    {% endfor %}
</ul>
{% else %}
<p>No one.</p>
{% endif %}


{% endblock %}