{% extends "base.html" %}
{% block head %}
	<script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        // Update chat when the form is used:
          $('form#chatform').submit(function(){
            element = $('input[@name=message]').get(0);
            mymessage   = element.value;
            pid = {{ player.id }} // {{ player.id }}
            $.post('/chat/update_chat/', {message: mymessage, player_id: pid});
            element.value = '';
            return false;
          });
        updateChat();
      });
      
      // Chat must also be updated when nothing is happening:
      // We have to provide a random number or else IE will not refresh properly:
      function updateChat() {
        num = Math.random();
        $('div.message_area').load('/chat/update_chat/?'+num);   
        setTimeout('updateChat()', 1000);       
      }
    </script>
{% endblock %}
{% block content %}
	<form id="chatform">
		<p><input type="text" name="message" value="" id="message"></p>
		<input type="hidden" name="player_id" value="1">
		<p><input type="submit" value="Transmit"></p>
	</form>
	<div class="message_area">
	</div>
{% endblock %}